.user{
    padding:20px;
    border:1px solid black;
    width: 200px;
    display: flex;
    justify-content: center;
    margin:10px;
}
.limite{
    color:red;
}
.groupAdd{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.true {
    background-color: blue;
}